{% extends "layout.njk" %} <!-- aqui vai ta importando todas as config do layout --> 

{% block content %}

<div class="card table-container">
    <a href="/instructors/create">Novo</a>
    <table width=100%> <!--tabela em html--> 
        <thead><!--abeçalho-->
            <tr> <!--linha-->
                <th>Instrutor</th><!--coluna-->
                <th>Atendimento</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody><!--corpo da tabela-->
            {% for instructor in instructors %}
            <tr>
                <td>
                    <span style="background-image: url({{instructor.avatar_url}})"></span>
                    {{instructor.name}}
                </td> <!--coluna no tbody-->
                <td>{{instructor.services}}</td>
                <td><a href="/instructors/{{instructor.id}}">Ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock content %}